*{
    margin: 0;
    padding: 0;
}
body{
   background-color: black; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Box{
    display: flex;
    flex-direction: row;
}
.l_side{
    gap: 138px;
    display: flex;
    flex-direction: column;
}
/*Logo portion*/
.logo{
    color: white;
    gap: 8px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo_img{
    width: 40px;
    height: auto;
}
.logo_side{
    display: flex;
}
.l_option_together{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/*Home Search Library of SPOTIFY*/
.option{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 13px;
}
.option>a{
    text-decoration: none;
    color: rgb(217, 217, 217);
    display: flex;
    align-items: center;
    gap: 6px;
}
.option>a:hover{
    color: white; 
}
/*playlist and liked song*/
.option_1{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 13px;
}
.option_1>a{
    text-decoration: none;
    color: rgb(217, 217, 217);
    display: flex;
    align-items: center;
    gap: 6px;
}
.option_1>a:hover{
    color: white; 
}
.l_img{
    transition: 300ms;
}
.l_img:hover{
    width: 30px;
}
/*left side bottom portion*/
.l_bottom{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 37px;
}
.l_bottom>a{
    text-decoration: none;
    color: white;
}
.l_btn{
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    color: white;
    width: 99px;
    height: 35px;
    gap: 7px;
}
