*{
    margin: 0;
    padding: 0;
}
body{
   display: flex;
   background-color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   flex-wrap: wrap;
}
.Box{
    display: flex;
    flex-direction: row;
}
.l_side{
    gap: 138px;
    display: flex;
    flex-direction: column;
}
/*Logo portion*/
.logo{
    color: white;
    gap: 8px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo_img{
    width: 40px;
    height: auto;
}
.logo_side{
    display: flex;
}
.l_option_together{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/*Home Search Library of SPOTIFY*/
.option{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 13px;
}
.option>a{
    text-decoration: none;
    color: rgb(217, 217, 217);
    display: flex;
    align-items: center;
    gap: 6px;
}
.option>a:hover{
    color: white; 
}
/*playlist and liked song*/
.option_1{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 13px;
}
.option_1>a{
    text-decoration: none;
    color: rgb(217, 217, 217);
    display: flex;
    align-items: center;
    gap: 6px;
}
.option_1>a:hover{
    color: white; 
}
.l_img{
    transition: 300ms;
}
.l_img:hover{
    width: 30px;
}
/*left side bottom portion*/
.l_bottom{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 37px;
}
.l_bottom>a{
    text-decoration: none;
    color: white;
}
.l_btn{
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    color: white;
    width: 99px;
    height: 35px;
    gap: 7px;
}
.r_side{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.navbar{
    background-color: #101010;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.l_nav{
    display: flex;
    flex-direction: row;
    padding: 22px;
    gap: 20px;
}
.l_nav1{
    width: 16px;
}
.l_nav2{
    width: 16px;
}
.r_nav{
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
}
.r_nav>a{
    text-decoration: none;
    color: rgb(185, 185, 185);
}
.join>a{
    text-decoration: none;
    color: rgb(185, 185, 185);
}
.r_nav>a:hover, .join>a:hover{
    color: white;
    font-size: 17px;
}
.join{
    display: flex;
    gap: 20px;
    align-items: center;
}
#login{
    border-radius: 53px;
    width: 139px;
    height: 53px;
}
#login>a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    border: 0px solid white;
}
.content{
    display: flex;
    background-color: #1d1d1d;
    padding: 25px;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.contenthead{
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contenthead2nd{
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content1{
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: #1d1d1d;
    padding: 25px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card_1{
    display: flex;
    overflow: hidden;
    background-color: #171717;
    /* border: 2px solid white; */
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 210px;
    height: 309px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}
h1{
    color: white;
}
.image{
    position: relative;
    height: 208px;
    z-index: 1;
    box-shadow: 0px 0px 30px #000000;
}
.playbutton{
    z-index: 2;
    margin-top: 179px;
    margin-left: -62px;
    width: 60px;
    height: 60px;
    position: absolute;
    transition: 400ms;
}
.playbutton:hover{
    display: inline;
    margin-top: 150px;
}
@media screen and (max-width: 500px) {
    .l_side{
        display: none;
    }
    .navbar{
        font-size: 12px;
    }
    .l_nav{
        display: none;
    }
    .r_nav{
        padding: 10px;
    }
    #login{
        width: 80px;
        height: 33px;
    }
    .content1{
        padding: 0px;
        justify-content: center;
    }
    .card_1{
        width: 100px;
        height: 177px;
    }
    .image{
        height: 129px;
    }
    .playbutton{
        width: 40px;
        height: auto;
        margin-top: 112px;
        margin-left: -40px;
    }
    .contenthead{
        margin-top: 8px;
        margin-bottom: 46px;
    }
    .contenthead2nd{
        margin-top: 48px;
        margin-bottom: 46px;
    }
    .join{
        gap: 11px;
    }
    #login>a{
        font-size: 11px;
    }
}